main {
    width: 63vw;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 15px;
    margin-bottom: 15vw;

}

.header {
    height: 2vh;
    width: 63vw;
    background-color: red;
    margin-right: 5px;
}


/* style de feuille pour le main */

body {
    margin: 50px;
    background-color: white;
}


/* touche de couleur pour le body */


table {
    width: 58vw;
    border: 2px solid black;
    border-collapse: collapse;
    height: 4vh;
    margin: 3vw;
}

table,
th,
td {
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
}


thead {
    background-color: red;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 1em;
}

.bold {
    font-weight: bold;
}


/* information de tete de la feuille  */

.contenaire {
    display: flex;
    justify-content: space-between;
    margin: 3vw;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 3vw;
}

.contenaire .gauche {
    margin-right: 18vw; 
    color: red;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
    vertical-align: initial;
}

.contenaire .droite {
    margin-right: 17vw;
    color: red;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
}

.content .bas {
    margin-right: 18vw;
    color: red;
    font-family: 'Cinzel', serif;
    font-size: 1.1em;
}
.liste h2{
    margin-right: 16vw;
}
main p {

    color: black;
    opacity: 70%;
    font-family: 'Cinzel', serif;
    text-align: center;
}


/* decoration */

.color {
    height: 2vh;
    width: 5vw;
    background-color: red;
}
.barre{
    background-color: red;
    height: 8px;
    width: 45px;
    padding: auto;
    margin-top: -16px;
}
h2{
    display: flex;

}

tr>th{
    text-align: center;
}
thead>tr th+th{
    text-align: left;
}